// body {
// background-image: linear-gradient(
//   rgba(255, 255, 255, 0.5),
//   rgba(255, 255, 255, 0.5)
// ), asset-url('background-ribbons/background-gradient-01.png');
// background-repeat: no-repeat;
// background-size: cover;
// }

#sweet-alert-demo {
  border-style: none;
  background: none;
}

.cta-purple-button-jobs-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #7B61F8;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius: 16px;
}

#sweet-alert-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 80px;
  background-color: #7B61F8;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius: 16px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.cta-purple-button-jobs-show:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #FF85EA 50%, transparent 50%);
  background-image: linear-gradient(45deg, #FF85EA 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

.apply-btn-jobs{
  background: $green;
  color: white;

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(rgb(116, 112, 112), 0.1);
    background-color: $purple;
    border-color: $purple;
  }

  &:active{
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(rgb(116, 112, 112), 0.1);
  }
}

.card-job {
  transition: all .2s ease-in-out;
  width: 31%;
  margin: 1%;
  border: 0.2px solid;
  border-radius: 4px;
  font-weight: bold;

  &:hover{
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  @media (max-width: 968px) {
    width: 48%;

  }
}

.flex-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-btn {
  background:#7b61f8 ;
  border: none;
}

.form-search {
  width: 80%;
}

.title-job {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
