// body {
// background-image: linear-gradient(
//   rgba(255, 255, 255, 0.5),
//   rgba(255, 255, 255, 0.5)
// ), asset-url('background-ribbons/background-gradient-01.png');
// background-repeat: no-repeat;
// background-size: cover;
// }

.apply-btn-jobs{
  background: $green;
  color: white;
  font-weight: bold;
  border-radius: 8px;

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(rgb(116, 112, 112), 0.1);
    background-color: $purple;
    border-color: $purple;
  }

  &:active{
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(rgb(116, 112, 112), 0.1);
  }
}

.card-job {
  transition: all .2s ease-in-out;
  width: 31%;
  margin: 1%;
  border: 0.2px solid;
  border-radius: 4px;
  font-weight: bold;

  &:hover{
    transform: scale(1.05);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  @media (max-width: 968px) {
    width: 48%;

  }
}

.flex-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-btn {
  background:$green;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  align-self: end;
  border: 0.5px solid $green ;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(rgb(116, 112, 112), 0.1);
    background-color: $purple;
    border-color: $purple;
  }
}

.form-search {
  width: 80%;
}

.title-job {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.paid_btn, .remote_btn {
  position: absolute;
  transform: scale(0);

  & + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    background-color: #ECEAFF;
    color: #7E73FF;
    border: 1px solid #7E73FF;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  &:checked + label {
    background-color: #7E73FF;
    color: white;
  }
}

.form-check {
  padding-left: 0.25rem;
}
