.prof-position {
  position: relative;
}

.profile-img {
  border-radius: 50%;
  border: 1px solid lightgrey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: -100px;
  left: 40px;
}
.profile-info {
  margin-top: 120px;
  h3,
  p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.profile-background {
  width: 100%;
  // background-image: asset-url("space-invaders.png");
  background-image: asset-url("background-ribbons/eggs-whirl-01.png");
  background-size: cover;
  height: 300px;
  border-radius: 8px;
}

.profile-card-border-radius {
  border-radius: 8px;
  padding: 20px;
}

.profile-exp-points {
  top: -100px;
}

.jobs-profile {
  margin-bottom: 20px;
}

.mission {
  margin-bottom: 30px;
}

.completed-jobs {
  border-radius: 6px;
  width: 160px;
  background-color: #f4f4f4;
  margin: 20px 40px 10px 15px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  flex-direction: column;
  span {
    font-size: 0.5em;
    font-family: "Quicksand", " sans-serif";
  }
  p {
    flex-grow: 1;
  }
  .fa-crown {
    color: #ffbc25;
    margin-bottom: 8px;
    font-size: 2em;
  }
}
.social-links {
  font-size: 1.4em;
  margin-right: 10px;
}

.favourites-img {
  width: 320px;
}

.cta-purple-button-mission {
  text-decoration: none;
  color: white;
  background-color: $purple;
  padding: 10px 15px;
  width: 110px;
  border-radius: 6px;
}

.cta-purple-button-mission:hover {
  text-decoration: none;
  color: white;
  background-color: purple;
}
.profile-card {
  padding: 0 6px 14px 6px;
  text-align: center;
  .fa-crown {
    display: block;
    margin-top: 12px;
  }
  p {
    margin-bottom: 0;
  }
}
.status-applied {
  width: 40%;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #F6E7A3;
  color: #E58104;
  font-weight: 200;
  border-radius: 50rem;
  border: 1px solid #E58104;
}

.status-accepted {
  width: 40%;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #C8DCE9;
  color: #090186;
  font-weight: 200;
  border-radius: 50rem;
  border: 1px solid #090186;
}

.status-completed {
  width: 40%;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #DBFDBB;
  color: #3B681A;
  font-weight: 200;
  border-radius: 50rem;
  border: 1px solid #3B681A;
}

.logo-img {
  height: 200px;
  width: 200px;
  border-bottom: 1px solid rgb(184, 184, 184);
}
