<div class="whole-page-container-notifications">
  <h1 class="notifications-index-title">Notifications</h1>
  <% @notifications.first(5).each do |notification| %>
    <%= render notification %>
  <% end %>
</div>
<h6 class="end-of-notifications">Displaying top 5 notifications</h6>
