<div class="whole-page-container">
  <div class="top-popout-banner">
  <%= image_tag "popout-text/findajobgetexp-01.png", :class => "find-a-gig"%>
  </div>
  <div class="cta-banner">
    <div class="green-background">
      <%= image_tag "exp-app-mockup-phone/app-mockup-gradient-with-daggers-01.png", :class => "app-mockup"%>
      <div class="central-cta">
        <%= link_to "Find Gigs", jobs_path, class: "cta-purple-button" %>
        <div class="cta-explainer">
          <h1>Catch 22 for Under-30s</h1>
          <p class="paragraph-normal-font">Can't start a career without experience, yet can't get experience without a job?</p>
          <p class="paragraph-heavy-font">Complete short gigs with leading startups for EXP!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="top-gigs-banner">
    <div class="green-background">
      <%= image_tag "", :class => ""%>
      <div class="top-gigs-box">
        <h1>top-gigs-banner</h1>
      </div>
    </div>
  </div>
  <div class="companies-we-love-banner">
    <div class="green-background">
      <h1>companies-we-love-banner</h1>
    </div>
  </div>
</div>
