<div class="whole-page-container">
  <div class="top-popout-banner">
  <%= image_tag "popout-text/findajobgetexp-01.png", :class => "find-a-gig"%>
  </div>
  <div class="cta-banner">
    <div class="green-background">
      <%= image_tag "background-ribbons/jagged-bolts-01.png", :class => "jagged-bolts"%>
      <%= image_tag "exp-app-mockup-phone/app-mockup-gradient.png", :class => "app-mockup"%>

        <div>
        </div>
    </div>
  </div>
  <div class="top-gigs-banner">
    <div class="green-background">
      <h1>top-gigs-banner</h1>
    </div>
  </div>
  <div class="companies-we-love-banner">
    <div class="green-background">
      <h1>companies-we-love-banner</h1>
    </div>
  </div>
</div>
