<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your application, <%= @user.name %></h1>
    <p>
      You have successfully applied to  ,
    </p>
    <p>
      To check for updates, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for applying and have a great day!</p>
  </body>
</html>