// $green = #00EFCA
// $yellow: #FDF200
// $pink: #FF85EA
// $purple: #7B61F8

.green-background {
  height: 90vh;
}

.app-mockup {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 110vh;
  right: 8vw;
}

.central-cta {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 900px;
  justify-content: space-between;
  align-items: space-between;
  z-index: 10;
  position: absolute;
  margin-top: 5vh;
}

.cta-purple-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 565px;
  margin-left: -20px;
  margin-bottom: -10px;
  height: 80px;
  background-color: #7B61F8;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius: 3px;
  z-index: 100;
}

.cta-purple-button:hover {
  border-color: #7B61F8;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #FF85EA 50%, transparent 50%);
  background-image: linear-gradient(45deg, #FF85EA 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

.paragraph-normal-font {
  font-size: 28px;
}

#paragraph-normal-font-bigger {
  font-size: 28px;
}
.paragraph-heavy-font {
  font-size: 28px;
}

#central-cta-title {
  font-size: 32px;
}

.cta-explainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 10px 6px -6px #909090a6;
  padding: 21px 36px;
  border-radius: 3px;
  margin-left: 60px;
  height: 400px;
  width: 600px;
  h1 {
    font-size: 2em;
    margin-bottom: 2vh;
  }
  h2 {
    font-size: 0.8em;
    margin-bottom: 14px;
  }
  h4 {
    font-size: 0.9em;
  }
}

.cta-explainer-02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 10px 6px -6px #909090a6;
  padding: 21px 36px;
  border-radius: 3px;
  margin-left: 140px;
  margin-top: 20px;
  height: 350px;
  width: 600px;
  h1 {
    font-size: 1.5em;
    margin: 0;
  }
  h2 {
    font-size: 0.8em;
    margin-bottom: 1rem;

  }
  h4 {
    font-size: 0.9em;
  }
  p {
    margin-bottom: 2rem;
  }
}
