.form-card {
  margin: 0 auto;
  background-color: white;
  width: 680px;
  border-radius: 4px;
  padding: 60px;
}

.sign-up-background {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url('background-ribbons/eggs-whirl-01.png');
  background-size: stretch;
  margin-top: -1rem;

}

.form-inputs {
  width: 100%;
}

.form-logo {
  width: 200px;
  height: 100px;
}

.form-compartment {
  justify-content: space-between;
}

.form-btn {
  width: 100%;
  justify-content: space-between;
}

.form-btn-100 {
  width: 100%;
}

.sign-up-btn {
  width: 100px;
}

.edit-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
