.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 8vh;
  font-family: "Press Start 2P", sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

#profile-link {
  margin-right: 20px;
  margin-left: 10px;
}

#login-link {
  margin-left: 10px;
}

.avatar {
  width: 40px;
}

#gigs-link {
  padding-right: 30px;
}
