.top-popout-banner {
  background: url(background-ribbons/background-gradient-01.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: static;
  height: 100vh;
  margin-bottom: 10vh;
}

// find-a-gig popout image
.find-a-gig {
  display: flex;
  height: 90vh;
  margin: auto;
  padding-top: 20px;
  justify-content: center;
}

