.top-popout-banner {
  background: url(asset_path("background-ribbons/background-gradient-01.png")) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: static;
  height: 100vh;
  padding-top: 2vh;
  margin-bottom: 5vh;
}

// find-a-gig popout image
.find-a-gig {
  display: flex;
  height: 90vh;
  margin: auto;
  padding-top: 20px;
  justify-content: center;
}

.floating-balls-02 {
  display: flex;
  height: 50vh;
  justify-content: center;
  position: absolute;
  top: 135vh;
  left: -4vw;
}

